<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdCollection</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/css/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
<!-- 画像読み込みを追加 -->
<h1><img src="/static/images/logo.png"></h1>

<form action="/result" method="POST">
    <p>Creative Name <input type="text" name="creative_name"/></p>
    <p>Image URL <input type="text" name="image_url"/></p>
    <p>Descriptions <input type="text" name="descriptions"/></p>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>