<!-- templates/post_json.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hitori_dsp</title>
</head>
<body>

<h1>Hitori DSP POST RTB Request JSON</h1>

<p>RTB Request JSON<br>
    <textarea cols="150" rows="45"></textarea>
</p>
<p>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <input id="request_json" type="button" value="submit" />
</p>

<p>Response JSON<br>
    <textarea id="result" cols="150" rows="45"></textarea>
</p>



</body>
</html>